.player {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 230px;
    background-color: rgb(100, 100, 100);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    right: 0;

    span{
        font-size: 32px;
        margin-left: 5px;
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
        object-fit: cover;
    }
}

.player-active {
    background-color: orange!important;
    
}