.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #6e6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100vh;
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 50px;

    img {
        width: 28vw;
        height: auto;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }
    }
}